body{
    padding: 50px;
    margin: 100px;
    background-color: blueviolet;

}
p{
    background-color: rgb(188, 130, 243);
}
#p1{
    width: 300px;
    border: 5px solid purple;
    margin-left: 550px;
    margin-top: auto;
    padding: 50px;
outline: 7px solid magenta ;
outline-offset: 5px;
}
