/*Font style and family*/
#p1 {
    font-family: "Noto Serif Telugu", serif;
    /* font-style:normal; */
    /* font-style:oblique; */
    font-style: italic;
  }
  
  /*Font variant*/
  #p2 {
    font-variant: small-caps;
    /*font-variant: normal;*/
  }
  
  /*Font weight*/
  
  #p3 {
    font-weight: bold;
    /* font-weight: 900; */
    /*    font-weight: bolder*/
  }
  #p4 {
    font-size: 4vw;
    /* font-size: 50px;*/
    /* font-size: 150%;*/
    /* font-size: large;*/
   /* font-size: small;*/
    /* font-size: 1cm;*/
  }

/*ShortHand*/

#p5 {
    font: bold italic small-caps 10vw gorgian;
    width: 150px;
}
/*Google Fonts*/

#p6 {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}
#p7 {

        font-family: "Chewy", serif;
        font-weight: 400;
        font-style: normal;
        
        /* text color and direction*/
}
#p8 {
color: rgb(69, 30, 105);
direction: rtl;
}
#p9 {
    text-indent: 200px;
    /*text-indent: 5cm;*/

}
 #p10 {
    letter-spacing: 5px;
     word-spacing: 15px;
    /* white-space: pre;*/
 }
  
 #p11 {
    text-decoration:underline;
    /*text-transform: line-through;*/
    /* text-tansform: overline */
 }

 #p12 {
    text-transform: capitalize;
    /* text-transform: lowecase;*/
    /* text-transform: uppercase;*/
    /* text-transform: none;*/
 }
 /*shadow text*/
#p13 {
    font-size: 70px;
    text-shadow: 5px 4px 8px rgb(127, 88, 134);
}