a:link {
color: rgb(65, 22, 105);
}

a:visited {
    color: rgb(132, 0, 255);
}

a:hover {
    color: rgb(190, 131, 245);
    font-size: 25px;
    background-color: rgb(28, 11, 44);
}
a:active {
    color: rgb(234, 0, 255);
}
 #a1:link {
color: black;
text-decoration: none;
 }
 #a1:hover {
    color: black;
    text-decoration: underline;
    font-size: 16px;
    background-color: white;
 }