#ul1 {
    list-style-type: circle;
    list-style-position: outside;
    width: 100px;
}
#ul2 {
    list-style-position: inside;
    width: 100px;
    /*text-align: center;*/
}
#ul3 {
    list-style-image: url("in-love.png");
    list-style-position: inside;
}
#ol1 {
    list-style-type: none;
}
#ol2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#ol3 {
    list-style: inside upper-roman;
    width:100px;
}
#ul4 {
    background: red;
    padding: 20px;
}
#ul4 li {
background: blue;
color: beige;
margin: 10px;
}
#ol4 li:hover {
background: pink;
color: hotpink;
font-size: 20px;   
}