#div1{
    border: 1px solid black;
    overflow: visible;
    width: 200px;
    height: 200px;
}
#div2{
    border: 1px solid black;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
#div3{
    border: 1px solid black;
    overflow: scroll;
    width: 200px;
    height: 200px;
}
#div3{
    border: 1px solid black;
    overflow: auto;
    width: 200px;
    height: 200px;
}
#div4{
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 200px;
    height: 200px;
}
